@(gpxs : Seq[Gpx], typegpx: String, pageAAffichier: Int, nbPages: Int)(implicit session: Session, flash: Flash, request: RequestHeader)
@import org.joda.time.DateTime
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.format.DateTimeFormatter
@main() {
    <div class="container">
        @if(session.get("admin") == Some("true")) {
            <a type="button" class="btn btn-link fa fa-plus" href="@routes.GpxController.newGpx(typegpx)"></a>
        }

        @if(nbPages > 1) {
            <nav>
                <ul class="pagination">
                    @if(pageAAffichier == 1){
                        <li class="page-item disabled">
                    } else {
                        <li class="page-item">
                    }
                        <a class="page-link" href="@routes.GpxController.listGpx(typegpx, pageAAffichier - 1)" tabindex="-1">Prec</a>
                    </li>
                    @for(i <- 1 to nbPages) {
                        @if(i == pageAAffichier) {
                            <li class="page-item active">
                                <a class="page-link" href="#">@i<span class="sr-only">(current)</span></a>
                        } else {
                            <li class="page-item"><a class="page-link" href="@routes.GpxController.listGpx(typegpx, i)">@i</a></li>
                        }
                    }
                    @if(pageAAffichier == nbPages){
                        <li class="page-item disabled">
                    } else {
                        <li class="page-item">
                        }
                    <a class="page-link" href="@routes.GpxController.listGpx(typegpx, pageAAffichier + 1)" tabindex="-1">Suiv</a>
                </li>
                </ul>
            </nav>
        }
        <div class="row">
                @for(gpx <- gpxs) {
                    <div class="col-md-4 child">
                        <div class="card text-center">
                            <div class="card-block">
                                <h3 class="card-title">@gpx.titre</h3>
                            @*</div>*@
                            <h6 class="card-subtitle mb-3"><small>@gpx.sousTitre</small></h6>
                            @*<div class="card-block">*@
                                <div class="card-text">
                                    <div id="mapid@gpx.id" class="mapidL"></div>
                                </div>
                                <p> @(gpx.distanceTotale/1000f) km +@gpx.ascensionTotale m -@gpx.descenteTotale m <br> le
                                    @if(!gpx.heureDebut.isEmpty) {
                                        @defining(new DateTime(gpx.heureDebut)) { d =>
                                            @DateTimeFormat.forPattern("d MMMM yyyy").print(d)
                                        }
                                    }
                                </p>
                                <a href="@routes.GpxController.showGpx(gpx.id)" class="btn btn-primary">En savoir plus</a>
                            </div>
                            <script>
                                var mymap@gpx.id = L.map('mapid@gpx.id')
                                var hikebikemapUrl@gpx.id = 'http://{s}.tiles.wmflabs.org/hikebike/{z}/{x}/{y}.png';
                                var hikebikemapAttribution@gpx.id = 'Map Data © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
                                var hikebikemap@gpx.id = new L.TileLayer(hikebikemapUrl@gpx.id, {maxZoom: 17, attribution: hikebikemapAttribution@gpx.id});
                                (hikebikemap@gpx.id).addTo(mymap@gpx.id);
                                var customLayer = L.geoJson(null, {
                                    // http://leafletjs.com/reference.html#geojson-style
                                    style: function(feature) {
                                        return { color: '#f00' };
                                    }
                                });
                                @defining(if(gpx.typegpx == "R")"contenu/gpx/randos/" + gpx.nomFichier else "contenu/gpx/treks/" +gpx.nomFichier) { fichier =>
                                    var runLayer@gpx.id = omnivore.gpx('@routes.Assets.at(fichier)', null, customLayer)
                                }
                                        .on('ready', function() {
                                            (mymap@gpx.id).fitBounds((runLayer@gpx.id).getBounds());
                                        })
                                        .addTo(mymap@gpx.id);
                            </script>
                        </div>
                    </div>
                }
        </div>
    </div>
}